<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@900&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
{% if content %}
<section {{ attributes.addClass("team-section-handler  p-t80 p-b80 bg-cover bg-center") }}>
    <div class="bg-moving-image">

    </div>
    <div class="right-green-element">
        
    </div>
    
    <div class="container">
        <div class="row">
            <div class=" col-md-5  small-desc ">
                <div class="shape">

                </div>
                 {% if content.company_description %}
                        <div {{ region_attributes.company_description.addClass("text-descriptor mt-5 ")}}>
                          <p> {{ content.company_description }} </p>
                        </div>
                            {% endif %}


                 {% if content.company_name %}
                        <div {{ region_attributes.company_name.addClass("title")}}>
                          <p> {{ content.company_name }} </p>
                        </div>
                            {% endif %}
               
            </div> 
            <div class="w-15"> &nbsp;</div>
                <div class=" col-md-5  slider p-5">
                    {% if content %}
                    <div {{attribute.addClass("slide col-12")}}>
                        <svg class="quote" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="4em" height="4em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path fill="#2ce161" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>
                            {% if content.description_section %}
                        <div {{ region_attributes.description_section.addClass("describe ")}}>
                           {{ content.description_section }}
                        </div>
                            {% endif %}
                     
                            {% if content.single_user_img %}
                                <div {{ region_attributes.single_user_img.addClass("single-user") }}>
                                    {{ content.single_user_img }}
                                </div>
                            {% endif %}

                         {% if content.single_user_info %}
                            <div {{ region_attributes.single_user_info.addClass("single-info") }}>
                               <h3> {{ content.single_user_info }} </h3>
                                <p>1/3</p>
                            </div>
                         {% endif %}
                    </div>
                    {% endif %}

                      {% if content %}
                    <div {{attribute.addClass("slide col-12")}}>
                        <svg class="quote" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="4em" height="4em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 512 512"><path fill="#2ce161" d="M464 256h-80v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8c-88.4 0-160 71.6-160 160v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48zm-288 0H96v-64c0-35.3 28.7-64 64-64h8c13.3 0 24-10.7 24-24V56c0-13.3-10.7-24-24-24h-8C71.6 32 0 103.6 0 192v240c0 26.5 21.5 48 48 48h128c26.5 0 48-21.5 48-48V304c0-26.5-21.5-48-48-48z"/></svg>
                            {% if content.description_section %}
                        <div {{ region_attributes.description_section.addClass("describe ")}}>
                           {{ content.description_section }}
                        </p>
                            {% endif %}
                     
                            {% if content.single_user_img %}
                        <div {{ region_attributes.single_user_img.addClass("single-user") }}>
                                {{ content.single_user_img }}
                        </div>
                        {% endif %}

                         {% if content.single_user_info %}
                        <div {{ region_attributes.single_user_info.addClass("single-info") }}>
                               <h3> {{ content.single_user_info }} </h3>
                                <p>2/3</p>
                        </div>
                        {% endif %}

                    </div>
                    {% endif %}
                </div>
                    <div class="toggler ">
        <a class="prev " onclick="plus(-1)">&#10094;</a>
        <a class="next  " onclick="plus(1)">&#10095;</a>
                    </div>
                  
                    

                </div>
            <div class=" mt-5 empty-square">
               
            </div>
        </div>
        
    </div>
    <script>
        let slideIndex = 1
        showSlides(slideIndex)
         function plus(n){
             showSlides(slideIndex += n)
         }
        
        
         function currentSlide(n){
             showSlides(slideIndex = n)
         }
         function showSlides(n){
             let i
             let slides = document.querySelectorAll('.slide')
             if(n > slides.length) {slideIndex = 1}
             if(n < 1){slideIndex = slides.length}
             
             for(i = 0; i < slides.length; i++){
                 slides[i].style.display = "none"
             }
             slides[slideIndex - 1].style.display = "block"
         }
    </script>
</section>

{% endif %}