
{% if content %}
<section {{ attributes.addClass("offroad-team-section") }} >
        {% if content.background.layout_builder_add_block %}
            {{ content.background }}
        {% endif %}
    <div class="container">
        <div class="row ">
            <div  {{ attributes.addClass("small-desc col-lg-5") }} >
             {% if content.company_description %}
                        <div {{ region_attributes.company_description.addClass("text-descriptor mt-5 ") }}>
                           {{ content.company_description }} 
                        </div>
                            {% endif %}
               
                {% if content.company_name %}
                        <div {{ region_attributes.company_name.addClass("title")}}>
                           {{ content.company_name }} 
                        </div>
                            {% endif %}
                
            </div>
            
            <div class="col-lg-7 right-green-element">
               
                   
                  
                        {% if content.profiles %}
                            <div {{ region_attributes.profiles.addClass("content-text")}}>
                                {% if content.profiles.layout_builder_add_block %}
                                    {{ content.profiles }}
                                {% endif %}
                            </div>
                        {% endif %}
                    

                
            </div>
        </div>
    </div>
   
</section>
{% endif %}