
{% if content %}
<section {{ attributes.addClass("offroad-team-section") }} >
    <div class="back"></div>
    <div class="container">
        <div class="row ">
        {% if content %}
            <div  {{ attributes.addClass("small-desc col-lg-5") }} >
             {% if content.company_description %}
                        <div {{ region_attributes.company_description.addClass("text-descriptor mt-5 ") }}>
                           {{ content.company_description }} 
                        </div>
                            {% endif %}
               
                {% if content.company_name %}
                        <div {{ region_attributes.company_name.addClass("title")}}>
                           {{ content.company_name }} 
                        </div>
                            {% endif %}
                
            </div>
            {% endif %}
            <div class="col-lg-7 right-green-element">
               
                   
                    {% if content %} 
                        {% if content.profiles %}
                            <div {{ region_attributes.profiles.addClass("content-text")}}>
                                {{ content.profiles }}
                            </div>
                        {% endif %}
                    {% endif %}

                
            </div>
        </div>
    </div>
   
</section>
{% endif %}