{% if content %}
<section {{ attributes.addClass("our-services-handler container") }} >
    <h6 class="section-title">Our services</h6>
    <div class="services-column">
        <div class="all-service-item ">
            <div class="single-service-items mb-5 d-block  ">
                <div class="item-image">
                    <div class="element text-center">
                        <span class="icon">
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                        </span>
                        
                       </div>
                            {% if content.service_picture %}
                                <div {{ region_attribute.service_picture.addClass("img") }}>
                                    {{ content.service_picture }}
                                </div>
                            {% endif %}
                    
                    <div class="mask"></div>
                    <a href="https://hotlock.axiomthemes.com/services/car-locksmith/" aria-hidden="true" class="icons"><span></span><span></span><span></span></a>
                </div>
                <div class="info-items">

                     {% if content.service_title %}
                        <h4>
                            <a {{ region_attributes.service_title.addClass("item-title") }}>
                                {{ content.service_title }}
                            </a>
                        </h4>
                    {% endif %}
                    {% if content.service_description %}
                            <p {{ region_attributes.service_description.addClass("descriptor-item") }}>
                                {{ content.service_description }}
                            </p>
                    {% endif %}
                    <div class="read-btn">
                        <a href="" class="link">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="single-service-items mb-5 d-block  ">
                <div class="item-image">
                    <div class="element text-center">
                        <span class="icon">
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                        </span>
                        
                       </div>
                            {% if content.service_picture %}
                                <div {{ region_attribute.service_picture.addClass("img") }}>
                                    {{ content.service_picture }}
                                </div>
                            {% endif %}
                    
                    <div class="mask"></div>
                    <a href="https://hotlock.axiomthemes.com/services/car-locksmith/" aria-hidden="true" class="icons"><span></span><span></span><span></span></a>
                </div>
                <div class="info-items">

                     {% if content.service_title %}
                        <h4>
                            <a {{ region_attributes.service_title.addClass("item-title") }}>
                                {{ content.service_title }}
                            </a>
                        </h4>
                    {% endif %}
                    {% if content.service_description %}
                            <p {{ region_attributes.service_description.addClass("descriptor-item") }}>
                                {{ content.service_description }}
                            </p>
                    {% endif %}
                    <div class="read-btn">
                        <a href="" class="link">READ MORE</a>
                    </div>
                </div>
            </div>
            <div class="single-service-items mb-5 d-block  ">
                <div class="item-image">
                    <div class="element text-center">
                        <span class="icon">
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                            <i>
                                <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" width="1em" height="1em" preserveAspectRatio="xMidYMid meet" viewBox="0 0 24 24"><path fill="currentColor" d="M12 16a4 4 0 1 1 0-8a4 4 0 0 1 0 8Z"/></svg>
                            </i>
                        </span>
                        
                       </div>
                            {% if content.service_picture %}
                                <div {{ region_attribute.service_picture.addClass("img") }}>
                                    {{ content.service_picture }}
                                </div>
                            {% endif %}
                    
                    <div class="mask"></div>
                    <a href="https://hotlock.axiomthemes.com/services/car-locksmith/" aria-hidden="true" class="icons"><span></span><span></span><span></span></a>
                </div>
                <div class="info-items">

                     {% if content.service_title %}
                        <h4>
                            <a {{ region_attributes.service_title.addClass("item-title") }}>
                                {{ content.service_title }}
                            </a>
                        </h4>
                    {% endif %}
                    {% if content.service_description %}
                            <p {{ region_attributes.service_description.addClass("descriptor-item") }}>
                                {{ content.service_description }}
                            </p>
                    {% endif %}
                    <div class="read-btn">
                        <a href="" class="link">READ MORE</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endif %}